$black: #000;

$silver-light: #EDEEEF;
$silver-dark: #D5D6D5;

$gold: #C69A3E;
$white: #fff;
$blue: #276ACF;
$red: #ff4d48;

$gray-200: #373737;
$gray: #7d7d7d;
$gray-100: #9b9b9b;
$gray-light: #cdcdcd;